body {
    color : white ;
    background-image:url("fond d'écran du futur.gif") ;
}
p {
    font-size : 50px ;
    font-family : comic sans MS ;
    background-color:black ;
}

table {
    width: 750px;
    border-collapse: collapse;
    margin:50px auto;
    font-family : comic sans MS ;
    }

/* zebra striping */
tr:nth-of-type(odd) {
    background: #aaa;
    }

th {
    background: #223;
    color: white;
    font-weight: bold;
    }

td, th {
    padding: 10px;
    border: 1px solid #ccc
    text-align: left;
    font-size: 18px

body ul li{
    text-decoration: none ;
}

::marker {
	text-decoration: none;
}