body {
  background-image: url("https://wallpaperaccess.com/full/99840.jpg");
}

#header figure{
    width: 66%;
    display: inline-block;
    vertical-align: middle;

#header	figure figcaption{
	font-family:monospace;
	color: #4D1A4D;
}
	
h1{
	font-family:monospace;
	color: #4D1A4D;
}