<!DOCTYPE html>
<html>
    <head>
        <title>le FUTUR !!!</title>
        <link rel = "icon" type = "image/jpg" href = "{{ url_for('static',filename = 'doloré-anne.jpg') }}">
        <link href="{{ url_for('static',filename = 'style.css') }}" rel ="stylesheet" type="text/css"/>
        <script src = "{{ url_for('static',filename = 'upload.js') }}"></script>
    </head>
    <body>
        <p>bienvenue dans le futur cyber numérique</p>
        <img src = "{{ url_for('static',filename = 'gif du turfu.gif') }}" alt="tu n'est pas assez dans le futur" width="600" height="180" >
        <p>enregistrement du futur</p>
	    <li id="form">
	        <form action="." method="POST">
                    <input type="text" name="text" id="text">
            	    <button type="submit" id="ok"> entrer dans le future </button></form>
            	<form action="." method="GET"></form>
            	<h1> bienvenue dans le cyber futur {{ message }}</h1>
            </li>
        <p>cyber tableau</p>
<!-- alors oui, le cyber tableau disparait quand on entre dans le futur mais bon c'est pas si grave, c rien c cyber numérique -->
        <table>
		<thead>
			<tr>
				<th>passé</th>
				<th>cyber futur</th>
			</tr>
		</thead>
		{% for mdr in liste%}
		<tr>
		<td>{{mdr['passé']}}</td>
		<td>{{mdr['cyber futur']}}</td>
		{% endfor %}
		</tr>

	</table>
        <p>votre futur numérique</p>
        <input type="file" id="fileUpload" />
        <input type="button" id="upload" value="cyber transformation" onclick="Upload()" />
        <div id="dvCSV"> 
        </div>
    </body>
</html>